@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-bg: #d8dee9;
  --clr-bg-inverse-darker: #434c5e;
  --clr-bg-inverse: #4c566a;
  --clr-txt: #3b4252;
  --clr-txt-inverse: #eceff4;

  --clr-objects: #5e81ac;
  /* --clr-objects-object-shadow: #b48ead; */
  --clr-objects-object-shadow: #e1b5b9;
  /* --clr-objects-object-shadow: #bf617a; */
  --clr-objects-object-shadow-inverse: #ebcb8b;
  --clr-objects-alt1: #81a1c1;

  --typewriterSpeed: 3s;
  --typewriterCharacters: 25;

  --ff-primary: "Source Code Pro", monospace;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-light: 400;
  --fw-regular: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 1rem;
  --fs-500: 1.15rem;
  --fs-550: 1.5rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;
  --fs-800: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
  --fs-h2: var(--fs-600);
  --fs-h1: var(--fs-700);

  --typewriterSpeed: 3s;
  --typewriterCharacters: 25;
}

/* For larger screens */
@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-h1: var(--fs-800);
    --fs-h2: var(--fs-700);
    --fs-nav: var(--fs-600);
    --fs-button: var(--fs-300);
  }
}

/* CSS reset*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--scroll-padding)-20px);
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  height: 100%;
  /* background-color: red; */
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* Actual CSS starts here */

::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-bg-inverse-darker);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-objects-alt1);
  border: 0.15em solid var(--clr-bg-inverse-darker);
  border-radius: 1rem;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--clr-objects-alt1) var(--clr-bg-inverse-darker);
  }
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-txt);
  flex-direction: column;
  justify-content: space-between;
  /* background-color: blue; */
}

.full-page-slide {
  height: 100vh;
  width: 100vw;
}

.primary-header {
  background-color: transparent;
  color: var(--clr-txt);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  position: fixed;
  padding: 0 3rem;
  z-index: 999;
}

.mobile-nav-toggle {
  display: none;
}

.sr-only {
  border: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  float: left;
}

.primary-header .logo {
  width: 3rem;
  height: 3rem;
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  opacity: 0;
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1.3s) forwards;
  /* background-color: red; */
}

.logo img:hover {
  animation: rotating 0.2s linear alternate infinite none;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-15deg);
  }
}

.primary-navigation {
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: var(--clr-txt);
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  z-index: inherit;
}

/* Switch text color of primary nav when scrolling */
.nav-scrolled {
  color: var(--clr-txt-inverse);
  background-color: transparent;
}

.primary-navigation a {
  text-decoration: none;
  color: inherit;
  font-size: var(--fs-500);
  font-weight: var(--fw-light);
  position: relative;
}

.delay1 {
  opacity: 0;
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1.5s) forwards;
}

.delay2 {
  opacity: 0;
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1.6s) forwards;
}

.delay3 {
  opacity: 0;
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1.7s) forwards;
}

.delay4 {
  opacity: 0;
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1.8s) forwards;
}

.delay5 {
  opacity: 0;
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1.9s) forwards;
}

.primary-navigation a span {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  color: var(--clr-objects);
}

.primary-navigation a::after {
  position: absolute;
  content: "";
  /* margin-top: 5rem; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #bf616a;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.primary-navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#particles-js1,
#particles-js2,
#particles-js3 {
  z-index: -99;
  position: absolute;
  width: 100vw;
}

.landing-page {
  /* background-color: red; */
  margin: 2rem 5rem;
  margin-top: 9rem;
  padding: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  /* margin-top: 7.5rem; */
  /* min-height: 80vh; */
}

.animated-text h1 {
  font-size: var(--fs-800);
  width: max-content;
  position: relative;
}

.animated-text h1::before,
.animated-text h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.animated-text h1::before {
  background: var(--clr-bg);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.animated-text h1::after {
  width: 0.125em;
  background: var(--clr-objects);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.landing-buttons {
  /* background-color: red; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 5rem; */
  padding-bottom: 2rem;
}

.landing-buttons p {
  width: 60%;
}

.cv {
  width: 12rem;
  height: 2rem;
  background-color: var(--clr-objects);
  border-radius: 2rem;
  border-color: transparent;
  color: var(--clr-txt-inverse);
  font-size: clamp(var(--fs-300), 2vw, var(--fs-500));
  font-weight: var(--fw-light);
}

.cv:hover {
  background-color: #bf616a;
  cursor: pointer;
  animation: grow-animation 1s linear infinite;
}

@keyframes grow-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.theme {
  width: 3rem;
  height: 3rem;
  background-color: var(--clr-objects);
  border-radius: 50%;
  border-color: transparent;
  color: var(--clr-txt-inverse);
}

.theme:hover {
  transform: scale(1.05);
  color: var(--clr-txt);
  background-color: var(--clr-objects-object-shadow);
  box-shadow: 0px 5px var(--clr-bg-inverse);
}

.animated-scroll {
  width: 1.25rem;
  height: 2.5rem;
  background-color: var(--clr-objects);
  border-radius: 2rem;
  border-color: transparent;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.animated-scroll:hover {
  background-color: #bf616a;
}

.animated-scroll:hover > .down-arrow {
  border-right-color: #bf616a;
  border-bottom-color: #bf616a;
}

.landing-buttons > p {
  opacity: 0;
  transform: translateY(0rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 2.8s) forwards;
}

.landing-buttons .cv {
  opacity: 0;
  transform: translateY(0rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 3s) forwards;
}

.animated-scroll {
  opacity: 0;
  transform: translateY(0rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 3.2s) forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}

.mouse,
.down-arrow {
  position: relative;
}

.landing-page .mouse,
.about-me .mouse {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--clr-bg);
  border-radius: 50%;
  margin-top: auto;
  bottom: 0;
  animation: move-wheel-down 2s linear infinite;
}

.about-me .mouse {
  background-color: var(--clr-bg-inverse);
}

@keyframes move-wheel-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

.down-arrow {
  display: block;
  margin-top: auto;
  bottom: -0.75rem;
  width: 1rem;
  height: 1rem;
  border: 3px solid transparent;
  border-right-color: var(--clr-objects);
  border-bottom-color: var(--clr-objects);
  transform: rotate(45deg);
  animation: arrow-scroll 1s alternate infinite;
}

.down-arrow {
  display: block;
  margin-top: auto;
  bottom: -0.75rem;
  width: 1rem;
  height: 1rem;
  border: 3px solid transparent;
  border-right-color: var(--clr-objects);
  border-bottom-color: var(--clr-objects);
  transform: rotate(45deg);
  animation: arrow-scroll-down 1s alternate infinite;
}

@keyframes arrow-scroll-down {
  0% {
    opacity: 0;
    /* transform: translateY(0rem); */
  }
  25% {
    opacity: 0.25;
    /* transform: translateY(0.25rem); */
  }
  50% {
    opacity: 0.5;
    /* transform: translateY(0.5rem); */
  }
  75% {
    opacity: 0.75;
    /* transform: translateY(0.75rem); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(1rem); */
  }
}

.section-even {
  background-color: var(--clr-bg-inverse);
  /* background-color: hsla(220, 16%, 36%, 0.6); */
  color: var(--clr-txt-inverse);
}

.about-me {
  height: 100vh;
  margin: 0rem 2rem;
  padding: 0rem 2rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.about-me .images {
  flex-direction: column;
  width: 30%;
}

.about-me .images img {
  min-width: 10rem;
  height: auto;
  border-radius: 82% 18% 82% 18% / 18% 82% 18% 83%;
  transition: border-radius 500ms ease-in-out;
}

.about-me .images img:hover {
  min-width: 10rem;
  height: auto;
  border-radius: 5% 0%;
}

.about-me .images .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-me .images .socials svg {
  width: 3rem;
  height: 3rem;
  /* border-radius: 5% 0%; */
}

.about-me .images .socials svg:hover {
  animation: grow-animation 1s linear infinite;
}

.about-me .content {
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about-me .content h1 {
  font-size: var(--fs-800);
  width: max-content;
}

.about-me .content h2 {
  font-size: var(--fs-700);
  width: max-content;
}

.about-me .content p {
  font-size: var(--fs-500);
}

.about-me p > span {
  font-weight: var(--fs-800);
  color: var(--clr-objects-object-shadow);
}

.about-me p > span > a {
  text-decoration: underline;
  color: inherit;
}

.contact {
  height: 100vh;
  margin: 0rem 2rem;
  margin-bottom: 5rem;
  padding: 0rem 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0rem;
}

.contact .content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  justify-content: space-around;
}

.contact h1 {
  font-size: var(--fs-800);
  width: max-content;
}

.contact h2 {
  font-size: var(--fs-700);
  width: max-content;
}

.contact .content p {
  font-size: var(--fs-550);
}

.contact .images {
  flex-direction: column;
  align-items: center;
}

.contact .images .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact .images .socials svg {
  width: 2.5rem;
  height: 2.5rem;
}

.contact .images .socials svg:hover {
  animation: grow-animation 1s linear infinite;
}

.contact .animated-scroll {
  width: 1.25rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  background-color: var(--clr-objects);
  border-radius: 2rem;
  border-color: transparent;
  opacity: 1;
  transform: translateY(0rem);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  /* color: #d8dee9; */
}

.contact .contact .mouse,
.contact .up-arrow {
  position: relative;
}

.contact .mouse {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--clr-bg);
  border-radius: 50%;
  margin-top: auto;
  bottom: 0;
  animation: move-wheel-up 2s linear infinite;
}

@keyframes move-wheel-up {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

.contact .up-arrow {
  display: block;
  margin-bottom: auto;
  top: -1.5rem;
  width: 1rem;
  height: 1rem;
  border: 3px solid transparent;
  border-left-color: var(--clr-objects);
  border-top-color: var(--clr-objects);
  transform: rotate(45deg);
  animation: arrow-scroll-up 2s alternate infinite;
}

.contact .animated-scroll:hover {
  background-color: #bf616a;
}

.contact .animated-scroll:hover > .up-arrow {
  border-left-color: #bf616a;
  border-top-color: #bf616a;
}

@keyframes arrow-scroll-up {
  0% {
    opacity: 1;
    /* transform: translateY(0rem); */
  }
  25% {
    opacity: 0.75;
    /* transform: translateY(0.25rem); */
  }
  50% {
    opacity: 0.5;
    /* transform: translateY(0.5rem); */
  }
  75% {
    opacity: 0.25;
    /* transform: translateY(0.75rem); */
  }
  100% {
    opacity: 0;
    /* transform: translateY(1rem); */
  }
}

@media (max-width: 950px) {
  html {
    scroll-padding-top: calc(var(--scroll-padding)-20px);
  }

  .full-page-slide {
    height: auto;
    min-height: 100% !important;
  }

  .primary-header {
    margin-top: 2rem;
    padding: 2rem 2rem;
  }

  .landing-page {
    margin-top: 10rem;
    min-height: 70vh;
  }

  .about-me {
    height: max-content;
    flex-direction: column-reverse;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* margin-top: 2rem; */
  }
  .about-me .content {
    margin-top: 10rem;
    width: 80%;
    /* padding-top: 15rem; */
  }

  .contact .content {
    margin-top: 10rem;
    width: 80%;
  }

  .about-me .images {
    margin: 0 auto;
    width: 100%;
    max-width: 25rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 850px) {
  .primary-header {
    margin-top: 2rem;
    padding: 2rem 2rem;
  }

  .primary-navigation {
    position: fixed;
    /* font-size: 1.5rem; */
    inset: 0 0 0 20%;
    background-color: var(--txt-color);
    color: var(--bg-color);
    flex-direction: column;
    transform: translateX(100%);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    color: var(--clr-txt-inverse);
    background-color: var(--clr-bg-inverse-darker);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 999;
    cursor: pointer;
    width: 2.5rem;
    top: 3.8rem;
    right: 5rem;
    background-color: transparent;
    border: transparent;
    opacity: 0;
    animation: fadeInUp 100ms ease calc(var(--typewriterSpeed) + 1.3s) forwards;
  }
  .bar {
    height: 4px;
    width: 100%;
    background-color: var(--clr-objects);
    display: block;
    border-radius: 5px;
    transition: 500ms ease;
  }
  #bar1 {
    transform: translateY(-4px);
  }
  #bar3 {
    transform: translateY(4px);
  }

  .change {
    display: block;
  }
  .change .bar {
    background-color: var(--clr-txt-inverse);
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2 {
    opacity: 0;
  }

  /* .mobile-nav-toggle:hover {
    animation: rotating 0.2s linear infinite;
    animation-direction: alternate;
  } */

  .landing-page {
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
  }

  .animated-text h1 {
    font-size: clamp(1.75rem, 2.5vw, 2.5rem);
    font-weight: 500;
    /* font-size: var(--fs-600); */
    width: max-content;
    position: relative;
  }

  .landing-buttons p {
    width: 100%;
  }

  .contact {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .contact .content p {
    font-size: var(--fs-400);
  }

  .contact .images .socials {
    justify-content: space-around;
    gap: 0.5rem;
  }
  .contact .images .socials svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}
