:root {
  --bg-color: #D8DEE9;
  --txt-color: #3B4252;
  --typewriterSpeed: 3s;
  --typewriterCharacters: 25;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.sr-only {
  border: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  float: left;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0.5rem 2rem; */
  position: fixed;
  z-index: 999;
  background: #5E81AC;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top:0;
  padding-bottom: 0;
  margin-left: 2rem;
  /* font-size: 1.5rem; */
}

.primary-nav {
  position: sticky;
  top:0;
  padding-bottom: 0;
  font-size: 1.25rem;
}
.navul {
  margin-right: 2rem;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
}

nav li {
  /* color: #ECEFF4; */
  color: var(--bg-color);
  /* font-size: 400; */
}

/* nav a { */
/*   text-decoration: none; */
/*   color: inherit; */
/*   font-size: 1.5rem; */
/*   font-weight: 600; */
/* } */

nav a > span {
  font-weight: 800;
  /* margin-inline-end: 0.5em; */
}

nav li a{
  position: relative;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

nav li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: var(--bg-color);
  border-radius: 12px;
  transition: all 0.4s ease;
}

nav li a:hover:before{
  width: 100%;
}
nav li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
nav li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
nav li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
nav li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
nav li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}






.padding-block-section {
  padding-block: 2rem;
}

.landing-page {
  padding: 0;
  font-family: "Source Code Pro", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.landing-page h1 {
  color: var(--txt-color);
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  width: max-content;
  /* width: 90%; */
  margin-left: auto;
  margin-right: auto;
}

.landing-page h1::before,
.landing-page h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.landing-page h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
  steps(var(--typewriterCharacters)) 1s forwards;
}

.landing-page h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
  steps(var(--typewriterCharacters)) 1s forwards,
  blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.landing-page p {
  /* width: 60%; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  /* font-size: 2rem; */
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.landing-page p > span {
  font-weight: 800;
  color: #2E3440;
}

.landing-page p > span > a {
  text-decoration: underline;
  color: inherit;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @media (max-width: 35em) { */
/*   header { */
/*     background-color: var(--bg-color); */
/*   } */

/*   body{ */
/*     overflow-x: hidden; */
/*   } */

/*   .logo{ */
/*     padding-top: 1.5rem; */
/*   } */

/*   .navul { */
/*     margin-top: 0; */
/*     position: fixed; */
/*     display: flex; */
/*     font-size: 1.5rem; */
/*     z-index: 800; */
/*     inset: 0 0 0 30%; */
/*     --gap: 2em; */
/*     background-color: var(--txt-color); */
/*     flex-direction: column; */
/*     padding: min(20vh, 7.5rem) 2em; */
/*     /1* background: hsl(0 0% 5% / 1); *1/ */
/* background: hsl(0, 0%, 100% / 0.1); */
/*     /1* backdrop-filter: blur(1rem); *1/ */
/*     transform: translateX(100%); */
/*     transition: transform 350ms ease-out; */
/*   } */

/*   .navul[data-visible="true"] { */
/*     transform: translateX(0%); */
/*   } */

/*   .mobile-nav-toggle { */
/*     display: block; */
/*     position: absolute; */
/*     width: 2.5rem; */
/*     top: 2rem; */
/*     background-color: transparent; */
/*     background-image: url("../resources/hamburger-32.png"); */
/*     background-repeat: no-repeat; */
/*     right: 2rem; */
/*     aspect-ratio: 1; */
/*     border: 0; */
/*     z-index: 999; */
/*     font-size: 2rem; */
/*     font-weight: 400; */
/*   } */

/*   .landing-page h1 { */
/*     padding-top: 2rem; */
/*   } */

/*   /1* nav ul a { *1/ */
/*   /1*   color: #e5e9f0; *1/ */
/*   /1* } *1/ */

/*   @supports (backdrop-filter: blur(1rem)) { */
/*     nav ul { */
/*       background: hsl(0, 0%, 100% / 0.1); */
/*       backdrop-filter: blur(1rem); */
/*     } */
/*   } */
/* } */


.aboutme {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--txt-color);
  /* background-color: blue; */
  color: var(--bg-color);
  justify-content: center;
  align-items: center;
  /* gap: 0; */
}

.aboutme h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  font-family: "Source Code Pro", monospace;
}

.aboutme h2 {
  font-size: clamp(0.75rem, 1vw + 1.5rem, 1.75rem);
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.inneraboutme {
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: var(--gap, 2.5rem);
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  width: 70%;
  /* background-color: green; */
}

.inneraboutme div {
  /* margin-left: 2rem; */
  padding: 0;
  display: flex;
  gap: 0;
  flex-direction: column;
  flex-grow: 1;
  /* background-color: pink; */
}

.aboutme img {
  padding-top: 0;
  width: auto;
  height: 65vh;
  object-fit: cover ;
  /* background-color: salmon; */
}

.inneraboutme p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-size: clamp(0.5rem, 1vw + 1rem, 1.25rem);
  font-weight: 400;
}

footer {
  margin-top: auto;
  /* position: fixed; */
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 0;
  min-height: 20vh;
  /* background-color: red; */
}

footer p {
  margin-top: 3.5rem;
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--txt-color);
}
.social-icons {
  margin-top: 2rem;
  /* margin-bottom: 1rem; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

.social-icons a {
  color: inherit;
}

/* .boldface { */
/*   font-weight: 900; */
/* } */
