/* Mobile: 320px, 375px */
/* Desktop: 768px, 1080px, 1440px */

:root {
  --clr-bg: #D8DEE9;
  --clr-txt: #3B4252;
  --clr-wave: #5E81AC;

  --typewriterSpeed: 3s;
  --typewriterCharacters: 25;

  --ff-primary: 'Source Code Pro', monospace;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-light: 400;
  --fw-regular: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 1rem;
  --fs-500: 1.15rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;
  --fs-800: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
  --fs-h2: var(--fs-600);
  --fs-h1: var(--fs-700);
}


/* For larger screens */
@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-h1: var(--fs-800);
    --fs-h2: var(--fs-700);
    --fs-nav: var(--fs-600);
    --fs-button: var(--fs-300);
  }
}

/* Resetting for body, h1,h2,h3,h4,p,figure,blockquote,dl,dd */ 

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 95rem;
  background-color: var(--clr-bg);
  margin: 0 auto;
  padding: 0 4rem;
  position: relative;
  z-index: 5;
}

/* Start of design */

body {
  background-color: var(--clr-bg);
  color: var(--clr-txt);
  flex-direction: column;
}

header {
  background-color: var(--clr-bg);
  width: 100%;
  overflow: hidden;
  height: 5rem;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  z-index: 999;
  /* background: var(--bg-color); */
  background: red;
  flex-grow: 1;
}

.logo {
  width: 20vw;
}

.button-menu-toggle {
}

nav {
  background-color: var(--clr-bg);
  /* position: sticky; */
  /* z-index: 50; */
}

.navul {
  list-style: none;
}

.navul a {
  text-decoration: none;
}


/* .lsidebar { */
/*   flex-direction: column; */
/*   max-width: 10vw; */
/* } */

/* .rsidebar { */
/*   max-width: 10vw; */
/* } */

/* .inner-container { */
/*   max-width: 80vw; */
/*   flex-direction: column; */
/* } */

/* .landing-page { */
/* } */
